:root {
    --main-bg-color: rgba(214, 226, 253, 0.568);
    --additional-bg-color: rgba(229, 240, 255, 0.495);

}

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    background-color: #3b393946;
}

h3 {
    color: #555;
    text-align: center;
    text-shadow: 0 2px 2px #3333332f;
}

h4{
    color: #110b37b5;
}
p {
    color: #555;
    line-height: 1.6;
}

/* Стили для секций */
.greeting {
    text-align: center;
    margin-bottom: 40px;
    padding: 2px 2px ;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--additional-bg-color);
}


.photo-gallery {
    padding: 0 19px;
    margin: 20px 0 40px;
}

.p-gallery{
    color: rgba(0, 0, 0, 0.555);
    text-align: center;
    border-radius: 10px 10px 0 0;
    text-shadow: 0 1px 5px rgba(46, 46, 76, 0.26);
    background-color: rgba(255, 255, 255, 0.413);
    box-shadow: 0 10px 10px rgba(96, 96, 96, 0.413);

}

.owl-carousel {
    display: grid; 
    overflow-x: auto;
    justify-content: center;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.owl-carousel::-webkit-scrollbar {
    display: none;
}

.owl-carousel img {
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
    border: #333;
}

.greeting-letter {
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.691);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.304);
}

.date-info {
    width: 50%;
    margin-bottom: 40px;
    margin-left: 25%;
    text-align: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.319);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.304);
}

.date-info p{

    color: #3b3939;
}

.farewell {
    text-align: right;
}